
.header{
    background-color: #0AAAA0;
    height: 2.5rem;
}

.social{
    float: right;
    padding-top: .5rem;
    color: white;
    margin: 0rem 15rem 0rem 0rem;
    width: fit-content;
    font-size: 14px;
}
.icn{
    color: white;
    margin-left: 1rem;
}


.details{
    margin: 0rem auto;
    color: white;
    /* background-color: blue; */
    text-align: center;
    width: 80%;
    padding-bottom: 2rem;
    
}
.contact{
    color: white;
    margin: 0rem auto;
    color: white;
    text-align: left; 
    width: 80%;
    padding-bottom: 2rem;
}
.add{
    margin-bottom: 10rem auto;
}

.image-background{
    width: 100%;
    height: 90vh;
}

.Servies-details{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    justify-content: center;
}

.cards{
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8rem;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-icon{
    font-size: 3rem;
   color:#0AAAA0;
   padding: 1rem;
   background-color: rgb(241, 235, 235);
   border-radius: 3rem;
}
.details-icon:hover{
    background-color:#0AAAA0;
    color: snow;
    transition: .5s;
    transition-duration: .7s;
}

.helpus-sec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: .8;
    padding: 1rem;
   margin-bottom: 2rem;
    background-image: url("https://cdn1.vectorstock.com/i/thumb-large/33/20/mental-health-composition-vector-42133320.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:bottom ;
}
.helpus-title{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    text-align: center;
}

.helpus-btn-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.helpus-btn{
    margin: 4px;
}

.event-details{
    margin: .4rem;
}

.readmore{
    font-size: .9rem;
    border-radius: .8rem;
    background: snow;
}
.readmore:hover{
    background-color: #0AAAA0;
}

.gallerybox{
    width: 100%;
    height: fit-content;
    background: #000;
    color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.gallerybox > h1 > span{
    color: #0AAAA0;
}
.gallerybox > h1{
    margin: 2rem;
}

.gallery-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image-container > img{
   width: 18rem;
   border: 4px solid snow;
   margin: .8rem;
}
.testimonial-box{
 display: flex;
 width: 100%;
 height: fit-content;
 flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.testimonial-cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.testimonial-card-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.testimonial-name > h1{
    font-size: 2rem;
}
.testimonial-name > p{
    color: gray;
}


.testimonial-card-detail > img{
width: 24rem;
 border: .8rem solid  #0AAAA0;
}

.joinus-bar{
    background:#0AAAA0;
    color: snow;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.joinus-bar > h1{
    font-size: 1.5rem;
}
.join-us{
    background: #0AAAA0;
    color: snow;
    border-color: snow;
}
.join-us:hover{
    background: snow;
    color: black;
}

.footer{
    display: flex;
}



/* -----------------min width 1399px ---------------------------*/

@media screen and (min-width: 1399px) {
    
.header{
    background-color: #0AAAA0;
    height: 2.5rem;
}

.social{
    float: right;
    padding-top: .5rem;
    color: white;
    margin: 0rem 15rem 0rem 0rem;
    width: fit-content;
    font-size: 14px;
}
.icn{
    color: white;
    margin-left: 1rem;
}

.navDiv{
    margin: 0 auto;
}
.details{
    margin: 0rem auto;
    color: white;
    /* background-color: blue; */
    text-align: center;
    width: 80%;
    padding-bottom: 4rem;
    
}
.contact{
    color: white;
    margin: 0rem auto;
    color: white;
    /* background-color: red; */
    text-align: left;
    width: 80%;
    padding-bottom: 4rem;
}
.footer{
    display: flex;
}
}




/* --------------------media query for Max 320---------------- */

@media only screen and (max-width: 360px) {
    .body{
        margin: 0px;
    }
    .header{
        background-color: #0AAAA0;
        /* background-color: red; */
        height: 2.5rem;
    }
    .social{
        float: none;
        padding-top: 0.5rem;
        color: white;
        margin: 0 auto;
        padding-left: 0rem;
        font-size: 12px;
    }
    .icn{
        color: white;
        margin-left: 0.2rem;
    }
    
    
    .details{
        margin: 0rem auto;
        color: white;
        /* background-color: blue; */
        text-align: center;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .contact{
        /* margin: 0rem auto; */
        color: white;
       /* margin: 0 auto; */
       padding-bottom: 4rem;
       /* text-align: left; */
    }
    
    .cards{
        overflow: hidden;
    }
    
    .hlepus-btn{
       padding: 1rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }
}



/* --------------------media query for min 360 and max 376---------------- */

@media only screen and (min-width: 360px) and (max-width: 400px) {
    .body{
        margin: 0px;
    }
    .header{
        background-color: #0AAAA0;
        /* background-color: red; */
        height: 2.5rem;
    }
    .social{
        float: none;
        padding-top: 0.5rem;
        color: white;
        margin: 0 auto;
        padding-left: 0rem;
        font-size: 12px;
    }
    .icn{
        color: white;
        margin-left: 0.2rem;
    }
    .details{
        margin: 0rem auto;
        color: white;
        /* background-color: blue; */
        text-align: center;
        width: 100%;
        padding-left: 1rem;
        padding-right: 2rem;
        
    } 
    .footer{
        display: flex;
        flex-direction: column;
    }
}



/* --------------------media query for min 401 and max 760---------------- */

@media only screen and (min-width: 401px) and (max-width: 760px) {
    .body{
        margin: 0px;
    }
    .header{
        background-color: #0AAAA0;
        /* background-color: red; */
        height: 2.5rem;
    }
    .social{
        float: none;
        padding-top: 0.5rem;
        color: white;
        margin: 0 auto;
        padding-left: 0rem;
        font-size: 12px;
    }
    .icn{
        color: white;
        margin-left: 0.2rem;
    }
    
    .details{
        margin: 0rem auto;
        color: white;
        /* background-color: blue; */
        text-align: center;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}

/* --------------------media query for min 1001 and max 1400---------------- */

@media only screen and (min-width: 1001px) and (max-width: 1400px) {
    .body{
        margin: 0px;
    }
    .header{
        background-color: #0AAAA0;
        /* background-color: red; */
        height: 2.5rem;
    }
    .social{
        float: none;
        padding-top: 0.5rem;
        color: white;
        margin: 0 auto;
        padding-left: 0rem;
        font-size: 12px;
    }
    .icn{
        color: white;
        margin-left: 0.2rem;
    }
    
    .details{
        margin: 0rem auto;
        color: white;
        /* background-color: blue; */
        text-align: center;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .footer{
        display: flex;
        /* flex-direction: column; */
    }
}

